:root {
  --rotate-step: 45deg; /* Definieer een stapgrootte voor de rotatie (li) */
  --delay-step: 0.1s; /* span */
  --walking: 4s;
  --arrow: 3s;
  --emoji: "☁️";
  --block: 5s;
  --backgroundRed: okLCH(0.55 0.8 30);
  --backgroundGreen: okLCH(0.85 0.37 145.64);
  --backgroundBlue: okLCH(0.55 0.8 260);
  --backgroundPurple: okLCH(0.55 0.8 300);
  --backgroundMix: ;
  --darkmodeColor: white;
  --darkmodeBackground: black;
}

body {
  padding: 2em;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: var(--darkmodeBackground);
  background-image: url("../images/landschap.png");
  background-repeat: no-repeat;
  background-size: cover;
  transition: 0.5s ease;
}

h1 {
  /* display: none; */
  font-family: Tilt;
  position: absolute;
  font-size: 5vw;
  top: 4rem;
  width: auto;
  font-variation-settings: "XROT" 45, "YROT" 15;
  font-weight: normal;
  /* animation: 2s 1s ease-in-out infinite alternate; */
  /* animation-delay: calc(var(--walking) / 2); */
  background-image: linear-gradient(90deg, crimson, dodgerblue);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

@font-face {
  font-family: "Tilt";
  src: url("../fonts/TiltPrism[XROT,YROT].woff2");
}

input {
  display: none;
}

p {
  position: absolute;
  margin: 0;
  text-align: center;
  font-size: min(10vmin, 10em);
  top: 0;
  right: 3rem;
  &::after {
    content: var(--emoji, "☁️");
  }
}

/* arrow */
section:nth-of-type(1) img {
  height: 5rem;
  width: auto;
  right: 15em;
  position: absolute;
  bottom: 1em;
  opacity: 0;
}

/* Explosion */
ul {
  position: absolute;
  top: 15vh;
  left: 70vw;
  list-style-type: none;
  display: none;
}

/* Nesting */
li {
  position: absolute;
  bottom: 0;
  width: 0.4em;
  height: 10em;
  transform-origin: bottom;
  transform-origin: 50% 100%;

  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform-origin: bottom;
    width: 15em;
    height: 15em;
    background-color: transparent;
    background-image: repeating-radial-gradient(
      circle,
      white 0%,
      white 50%,
      transparent 51%
    );
    background-size: 1em 1em;
    border-radius: 100px;
    animation: none;
    display: none;
  }
  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform-origin: bottom;
    width: 0.4em;
    height: 10%;
    border-radius: 10px;
    overflow: hidden;
    /* animation: vuurwerk 10s infinite ease-in-out; */
  }
}

/*///////////////*/
/* label nesting */
/*///////////////*/

label {
  background-color: white;
  padding: 1em;
  border-radius: 25%;
  box-shadow: 0 0 0.5em 0.5em;
  margin-right: 1rem;
  position: absolute;

  &:nth-of-type(1) {
    bottom: 20vh;
    left: 2vw;
  }

  &:nth-of-type(2) {
    /* bottom: 90vh; */
    left: 2rem;
  }

  &:nth-of-type(3) {
    /* bottom: 90vh; */
    left: 10rem;
  }

  &:nth-of-type(4) {
    bottom: 30vh;
    left: 2vw;
  }

  &:nth-of-type(5) {
    bottom: 30vh;
    left: 6rem;
  }

  &:nth-of-type(6) {
    bottom: 40vh;
    left: 2vw;
  }
}

/*///////////////*/
/* span nesting  */
/*///////////////*/

span {
  bottom: 6rem;
  left: 5rem;
  position: absolute;
  width: 1em;
  /* outline: 1px solid red; */
  border-radius: 100%;
  height: 1em;
  /* animation: moveDiagonal 5s linear forwards; */
  /* display: none; */
  opacity: 0;

  &:nth-of-type(1) {
    background-color: var(--backgroundRed);
  }

  &:nth-of-type(2) {
    background-color: var(--backgroundGreen);
  }

  &:nth-of-type(3) {
    background-color: var(--backgroundBlue);
    mix-blend-mode: screen;
  }
}

/* Label kleur veranderen bij input */

html:has(input[name="rood"]:checked) label:nth-of-type(4) {
  background-color: var(--backgroundRed);
}

html:has(input[name="groen"]:checked) label:nth-of-type(5) {
  background-color: var(--backgroundGreen);
}

html:has(input[name="mix"]:checked) label:nth-of-type(6) {
  background-color: var(--backgroundBlue);
}

/*///////////////*/
/* div nesting   */
/*///////////////*/

div {
  &:nth-of-type(3) {
    position: absolute;
    bottom: 1em;
    opacity: 0;
    img {
      width: 10rem;
      height: auto;
    }
  }

  &:nth-of-type(4) {
    img {
      position: absolute;
      /* display: none; */
      top: 80vh;
      left: 1vw;
      height: 16vh;
      width: auto;
    }
  }
}

/*///////////////*/
/* label nesting  */
/*///////////////*/

/* als label 1 checked is */

label:nth-of-type(1):has(input:checked) {
  & ~ h1 {
    animation: moveTitle 5s forwards;
  }

  & ~ ul {
    display: block;
  }

  & ~ div:nth-of-type(3) {
    animation: move 5s;
    display: block;
  }

  & ~ div:nth-of-type(6) {
    display: block;
    animation-delay: var(--block);
  }

  & ~ label:nth-of-type(4):has(input:checked) {
    & ~ ul li::before {
      display: block;
      animation: swing 5s infinite ease-in-out,
        rood 1s calc(var(--walking) + var(--arrow)) infinite ease-in-out;
    }
    & ~ span:nth-of-type(1) {
      animation: moveDiagonal 5s linear forwards;
    }
  }

  & ~ label:nth-of-type(5):has(input:checked) {
    & ~ span:nth-of-type(2) {
      animation: moveDiagonal 5s linear forwards;
    }
    & ~ ul li::before {
      display: block;
      animation: swing 5s infinite ease-in-out,
        groen 1s calc(var(--walking) + var(--arrow)) infinite ease-in-out;
    }
  }

  &
    ~ label:nth-of-type(4):has(input:checked)
    ~ label:nth-of-type(5):has(input:checked)
    ~ ul
    li::before {
    display: block;
    animation: swing 5s infinite ease-in-out,
      roodGroen 1s calc(var(--walking) + var(--arrow)) infinite ease-in-out;
  }

  & ~ section:nth-of-type(1) img {
    animation: moveUp var(--arrow);
    animation-delay: var(--walking);
  }
  & ~ label:nth-of-type(6):has(input:checked) {
    & ~ span:nth-of-type(3) {
      animation: moveDiagonal 5s linear forwards;
    }
    & ~ ul li::before {
      display: block;
      animation: swing 5s infinite ease-in-out,
        kleurverloopStipjes 0.3s calc(var(--walking) + var(--arrow)) infinite
          ease-in-out;
    }
  }
}

label:nth-of-type(6):has(input[type="checkbox"]:checked) ~ div {
  display: block;
}

/*///////////////*/
/* li draaien   */
/*///////////////*/

li {
  &:nth-child(1) {
    transform: rotate(calc(var(--rotate-step) * 0)) translateY(1em);
  }
  &:nth-child(2) {
    transform: rotate(calc(var(--rotate-step) * 1)) translateY(1em);
  }
  &:nth-child(3) {
    transform: rotate(calc(var(--rotate-step) * 2)) translateY(1em);
  }
  &:nth-child(4) {
    transform: rotate(calc(var(--rotate-step) * 3)) translateY(1em);
  }
  &:nth-child(5) {
    transform: rotate(calc(var(--rotate-step) * 4)) translateY(1em);
  }
  &:nth-child(6) {
    transform: rotate(calc(var(--rotate-step) * 5)) translateY(1em);
  }
  &:nth-child(7) {
    transform: rotate(calc(var(--rotate-step) * 6)) translateY(1em);
  }
  &:nth-child(8) {
    transform: rotate(calc(var(--rotate-step) * 7)) translateY(1em);
  }
}

/* Keyframes */

@keyframes move {
  0% {
    transform: translatex(0);
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    transform: translatex(70vw);
    opacity: 0;
  }
}

@keyframes moveUp {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    transform: translateY(-70vh);
    opacity: 0;
  }
}

@keyframes moveTitle {
  0% {
    transform: translateY(0);
    rotate: 0;
    /* opacity: 1; */
  }

  50% {
    transform: translateY(30vh);
    /* opacity: 0; */
  }
  100% {
    transform: translateY(0);
    rotate: 360deg;
    /* opacity: 1; */
  }
}

@keyframes explode {
  0% {
    opacity: 1;
    transform: scale(0.5);
  }
  100% {
    opacity: 0;
    transform: scale(2) translateX(var(--x)) translateY(var(--y));
  }
}

@keyframes rood {
  0% {
    background-image: repeating-radial-gradient(
      circle at center,
      transparent 0%,
      transparent 90%,
      var(--backgroundRed) 91%,
      var(--backgroundRed) 100%
    );
  }
  100% {
    background-image: repeating-radial-gradient(
      circle at center,
      transparent 0%,
      transparent 90%,
      var(--backgroundRed) 91%,
      var(--backgroundRed) 100%
    );
  }
}

@keyframes groen {
  0% {
    background-image: repeating-radial-gradient(
      circle at center,
      transparent 0%,
      transparent 90%,
      var(--backgroundGreen) 91%,
      var(--backgroundGreen) 100%
    );
  }
  100% {
    background-image: repeating-radial-gradient(
      circle at center,
      transparent 0%,
      transparent 90%,
      var(--backgroundGreen) 91%,
      var(--backgroundGreen) 100%
    );
  }
}

@keyframes roodGroen {
  0% {
    background-image: repeating-radial-gradient(
      circle at center,
      transparent 0%,
      transparent 90%,
      var(--backgroundRed) 91%,
      var(--backgroundRed) 100%
    );
  }
  100% {
    background-image: repeating-radial-gradient(
      circle at center,
      transparent 0%,
      transparent 90%,
      var(--backgroundGreen) 91%,
      var(--backgroundGreen) 100%
    );
  }
}

@keyframes kleurverloopStipjes {
  0%,
  100% {
    background-image: repeating-radial-gradient(
      circle at center,
      transparent 0%,
      transparent 90%,
      var(--backgroundRed) 91%,
      var(--backgroundRed) 100%
    );
  }
  75% {
    background-image: repeating-radial-gradient(
      circle at center,
      transparent 0%,
      transparent 90%,
      var(--backgroundBlue) 91%,
      var(--backgroundBlue) 100%
    );
  }
  50% {
    background-image: repeating-radial-gradient(
      circle at center,
      transparent 0%,
      transparent 90%,
      var(--backgroundGreen) 91%,
      var(--backgroundGreen) 100%
    );
  }
  25% {
    background-image: repeating-radial-gradient(
      circle at center,
      transparent 0%,
      transparent 90%,
      var(--backgroundPurple) 91%,
      var(--backgroundPurple) 100%
    );
  }
}

@keyframes swing {
  0% {
    transform: rotate(-120deg);
  }
  50% {
    transform: rotate(20deg);
  }
  100% {
    transform: rotate(-120deg);
    /* animation-delay: 2s; */
  }
}

@keyframes vuurwerk {
  0% {
    top: 100%;
  }
  33%,
  100% {
    top: -30%;
  }
}

@keyframes sparkles {
  0% {
    top: 90%;
    opacity: 1;
  }
  80% {
    opacity: 0.5;
  }
  100% {
    top: 30%;
    opacity: 0;
    filter: blur(10px);
  }
}

@keyframes moveDiagonal {
  from {
    /* Startpositie: linksonder */
    transform: translate(0, 0); /* Verticaal volledig onderaan */
    opacity: 1;
  }
  85% {
    opacity: 0.5;
  }
  to {
    /* Eindpositie: rechtsboven */
    transform: translate(
      70vw,
      -70vh
    ); /* Horizontaal volledig rechts en bovenaan */
    opacity: 0;
  }
}

@keyframes moveDiagonalTitel {
  0% {
    transform: translate(0, 0);
    opacity: 1;
  }
  100% {
    transform: translate(50vw, 80vh);
    opacity: 1;
  }
}

/* responsive */

@media screen and (width < 700px) {
  ul {
    left: 50vw;
    top: 20vh;
  }
  h1 {
    top: 5rem;
    /* animation: moveDiagonalTitel 5s linear forwards; */
  }
  label:nth-of-type(1):has(input:checked) ~ h1 {
    animation: moveDiagonalTitel 5s forwards;
  }

  label {
    font-size: 0.9rem;
  }
}
